// .page-footer {
//   padding-top: 30px;
//   padding-bottom: 28px;
//   background-color: #f7f7f7;
// }

// .footer-block {
//   margin: 0;
//   padding: 0;
//   text-align: center;
//   color: $color-footer-text;
//   font-size: 14px;
//   line-height: 1.14;

//   @media screen and (min-width: 768px) {
//     font-size: 16px;
//     line-height: 1.18;
//   }
// }

// .footer-item_text {
//   margin: 0 0 10px 0;

//   @media screen and (min-width: 768px) {
//     margin: 0 3px 0 0;
//   }
// }

// .footer-item_span {
//   margin: 0;
// }

// .text-footer-link {
//   margin: 0;
//   text-decoration: underline;
//   color: $color-footer-text;
// }

// @media screen and (min-width: 768px) {
//   .footer-block {
//     display: flex;
//     justify-content: center;
//     flex-direction: row;
//   }
// }

// .heart {
//   display: inline-flex;
//   align-items: center;
//   color: $color-second-text;
// }
.page-footer {
  font-size: $font-size-large;
  font-weight: $font-weight-light;
  color: $color-footer-text;
  text-align: center;
  background-color: #f7f7f7;
  padding: 30px 0;
}
.footer-container {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
.footer-copyright {
  margin-bottom: 10px;
}
.students-link {
  color: inherit;
  text-decoration: underline;
}
